MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/crowdfaq?retryWrites=true&w=majority
DNS_SERVERS=8.8.8.8
API_PORT=3000
FRONTEND_ORIGIN=http://localhost:5174,http://127.0.0.1:5174
